<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h5 class="text-center alert alert-info">Users table</h5>
    <br>
    <div class="row">

        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/admin-mine/users" class="btn btn-info btn-lg btn-block">
                        Users data</a>
                    <br>
                    <a href="/admin-mine/users-publications" class="btn btn-info btn-lg btn-block">
                        Users Publications</a>
                    <br>
                    <a href="/admin-mine/admin-publications" class="btn btn-info btn-lg btn-block">
                        Admin publications</a>
                    <br>
                    <a href="/admin-mine/admin-video" class="btn btn-info btn-lg btn-block">
                        Admin Video</a>
                    <br>
                    <a href="/admin-mine/read-letters" class="btn btn-info btn-lg btn-block">
                        My letters</a>
                    <br>
                    <a href="/admin-mine/write-letters/send" class="btn btn-info btn-lg btn-block">
                        To write a letter</a>
                    <br>
                    <a href="/admin-mine/add-services" class="btn btn-info btn-lg btn-block">
                        Add services</a>
                    <br>
                    <form action="/logout" method="post">
                        <button class="btn btn-lg btn-info btn-block" type="submit">LOGOUT</button>
                    </form>
                </div>

                <div class="col-md-8">

<!--                    <table class="table">-->
<!--                        <thead class="thead-dark">-->
<!--                        <tr th:each="publicationUser, el:${publication}">-->
<!--                            <th><span th:text="${publicationUser.titleText}"></span></th>-->

<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        &lt;!&ndash;                        model.addAttribute("publication", res);&ndash;&gt;-->
<!--                        <tr th:each="publicationUser, el:${publication}" class="alert alert-info mt-2">-->

<!--                            <td><span th:text="${publicationUser.fullText}"></span></td>-->

<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
</html>
