<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/admin-mine/users"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Users data</a>
                        <a href="/admin-mine/users-competitive"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Users Competitive</a>
                        <a href="/admin-mine/admin-publications"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Admin publications</a>
                        <a href="/admin-mine/admin-video"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Admin Video</a>
                        <a href="/admin-mine/read-letters/enter-letters"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            My letters</a>
                        <a href="/admin-mine/write-letters/send"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            To write a letter</a>
                        <a href="/admin-mine/read-metrics"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Metrics</a>
                        <br>
                        <form action="/logout" method="post">
                            <button class="btn btn-lg btn-info btn-block" type="submit">LOGOUT</button>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <h3>Create link to video</h3>
                        <form action="/admin-mine/admin-video" method="POST">
                            <input type="text" name="linkToVideo" class="form-control"
                                   placeholder="Write link to video">

                            <h1>
                            <textarea id="titleText" name="titleText" class="form-control" rows="10"
                                      placeholder="WRITE A title {character limit up to 3 000} "></textarea>
                            </h1>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">SAVE</button>
                        </form>
                        <div th:each="videoBoxAdmin, el:${videoBoxAdminList}" class="alert alert-info mt-2">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        th:src="${videoBoxAdmin.linkToVideo}"></iframe>
                            </div>
                            <h6 th:text="${videoBoxAdmin.titleText}"></h6>
                            <div class="text-right">
                                <a th:href="'/admin-mine/admin-video/'+${videoBoxAdmin.id}+'/edit'"
                                   class="btn btn-outline-dark">EDIT</a>
                                <a th:href="'/admin-mine/admin-video/'+${videoBoxAdmin.id}+'/remove'"
                                   class="btn btn-outline-danger">REMOVE</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
