<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>

    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h5 class="text-center alert alert-info">User Publications table </h5>
    <br>
    <div class="row">

        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/admin-mine/users" class="btn btn-info btn-lg btn-block" role="button">
                        Users data</a>
                    <br>
                    <a href="/admin-mine/users-publications" class="btn btn-info btn-lg btn-block" role="button">
                        Users Publications</a>
                    <br>
                    <a href="/admin-mine/admin-publications" class="btn btn-info btn-lg btn-block" role="button">
                        Admin publications</a>
                    <br>
                    <a href="/admin-mine/admin-video" class="btn btn-info btn-lg btn-block" role="button">Admin
                        Video</a>
                    <br>
                    <a href="/admin-mine/read-letters" class="btn btn-info btn-lg btn-block" role="button">
                        My letters</a>
                    <br>
                    <a href="/admin-mine/write-letters/send" class="btn btn-info btn-lg btn-block" role="button">
                        To write a letter</a>
                    <br>
                    <a href="/admin-mine/add-services" class="btn btn-info btn-lg btn-block">
                        Add services</a>
                    <br>
                    <form action="/logout" method="post">
                        <button class="btn btn-lg btn-info btn-block" type="submit">LOGOUT</button>
                    </form>
                </div>

                <div class="col-md-8">
                    <form action="/admin-mine/write-letters/answer" method="POST">

                        <!--                        senderAddress-->
                        <p>
                            <label>RECIPIENT</label>
                            <input type="text" th:value="${senderAddress}" name="recipientAddress" class="form-control"
                                   placeholder="Recipient's address">
                        </p>
                        <p>
                            <label>SENDER</label>
                            <input type="text" th:value="${adminAddress}" name="senderAddress" class="form-control"
                                   placeholder="Sender's address">
                        </p>
                        <br>
                        <br>
                        <p>
                            <label>TITLE</label>
                            <input type="text" name="titleText" class="form-control"
                                   placeholder="TITLE NAME">
                        </p>
                        <br>
                        <label>PLACE TO LETTER</label>
                        <label for="fullText"> tell us you story : </label>
                        <textarea id="fullText" name="fullText" class="form-control" rows="30" cols="33"
                                  placeholder="WRITE A LETTER {character limit up to 3000} "></textarea>
                        <br>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">SAND</button>
                    </form>

                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
</html>
