<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <div class="row">
        <div class="album col-md-12" >
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/admin-mine/users"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Users data</a>
                    <a href="/admin-mine/users-competitive"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Users Competitive</a>
                    <a href="/admin-mine/admin-publications"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Admin publications</a>
                    <a href="/admin-mine/admin-video"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Admin Video</a>
                    <a href="/admin-mine/read-letters/enter-letters"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        My letters</a>
                    <a href="/admin-mine/write-letters/send"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        To write a letter</a>
                    <a href="/admin-mine/read-metrics"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Metrics</a>
                    <br>
                    <form action="/logout" method="post">
                        <button class="btn btn-lg btn-info btn-block" type="submit">LOGOUT</button>
                    </form>
                </div>
                <div class="col-md-8">

                    <table class="table">
                        <thead class="thead-dark">
                        <tr th:each="letterToADMIN, el:${letter}">
                            <th><span th:text="${letterToADMIN.titleText}"></span></th>
                            <th class="col-md-2"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="letterToADMIN, el:${letter}" class="alert alert-info mt-2">
                            <td><span th:utext="${letterToADMIN.fullText}"></span></td>
                            <td><a th:href="'/admin-mine/write-letters/'+${letterToADMIN.idLetter}+'/answer'"
                                   class="btn btn-warning ">answer</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
