<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/admin-mine/users"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Users data</a>
                        <a href="/admin-mine/users-competitive"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Users Competitive</a>
                        <a href="/admin-mine/admin-publications"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Admin publications</a>
                        <a href="/admin-mine/admin-video"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Admin Video</a>
                        <a href="/admin-mine/read-letters/enter-letters"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            My letters</a>
                        <a href="/admin-mine/write-letters/send"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            To write a letter</a>
                        <a href="/admin-mine/read-metrics"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Metrics</a>
                        <br>
                        <form action="/logout" method="post">
                            <button class="btn btn-lg btn-info btn-block" type="submit">LOGOUT</button>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div th:each="publicationPostAdminDTO, el:${publicationPostAdminList}">
                            <form method="post" enctype="multipart/form-data">
                                <img th:src="'data:image/jpeg;base64,' + ${publicationPostAdminDTO.convert}"
                                     style="width:100%"
                                     class="rounded mx-auto d-block"
                                     alt="IMAGE"/>
                                <br>
                                <div class="custom-file mb-4">
                                    <input type="file" name="file" class="custom-file-input"
                                           id="customFile"> <label class="custom-file-label"
                                                                   for="customFile">Image</label>
                                </div>
                                <p>
                                    <label>TITLE</label>
                                    <input type="text" th:value="${publicationPostAdminDTO.titleText}" name="titleText"
                                           class="form-control"
                                           placeholder="TITLE NAME">
                                </p>
                                <br>
                                <label>PLACE TO STORY</label>
                                <label for="fullText"> tell us you story : </label>
                                <textarea id="fullText" name="fullText" class="form-control" rows="10"
                                          placeholder="WRITE A STORY {character limit up to 10 000} "
                                          th:text="${publicationPostAdminDTO.fullText}"></textarea> <br>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
