<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div th:insert="blocks/heder-mine::header-mine"></div>
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <div class="col-md-12">
            <br>
            <div th:each="publicationPostAdminDTO, el:${publications}" class="mt-2">
                <img class="mx-auto d-block" th:src="'data:image/jpeg;base64,' + ${publicationPostAdminDTO.convert}"
                     style="width:100%" alt="IMG"/>

                <br>
                <h6><p class="text-right" th:text="${#dates.format({publicationPostAdminDTO.date}, 'dd:MM:yyyy')}"></p>
                </h6>
                <h4><p class="text-center text-uppercase lh-lg fw-bold font-family-sans-serif"
                       th:utext="${publicationPostAdminDTO.titleText}"
                       style=" font-family: 'Open Sans',sans-serif;"></p></h4>
                <h5><p class=" lh-lg " th:utext="${publicationPostAdminDTO.fullText}"
                       style=" font-family: 'Open Sans',sans-serif; line-height: 1.5"></p></h5>
            </div>
            <div th:each="compositionDTO, el:${compositionWithComments}" class="mt-2">

                <a th:href="'/users/read-competitive-one-composition-index/'+${compositionDTO.id}">
                    <img th:src="'data:image/jpeg;base64,' + ${compositionDTO.image}"
                         style="width:50%"
                         class="rounded mx-auto d-block"
                         alt="IMAGE OF COMPOSITION"/>
                </a>

                <h6><p class="text-right" th:text="${#dates.format({compositionDTO.date}, 'dd:MM:yyyy')}"></p></h6>
                <h4><p class="text-center text-uppercase lh-lg fw-bold font-family-sans-serif"
                       th:utext="${compositionDTO.titleText}" style=" font-family: 'Open Sans',sans-serif;"></p></h4>
                <h5><p class=" lh-lg " th:utext="${compositionDTO.shortText}"
                       style=" font-family: 'Open Sans',sans-serif; line-height: 1.5"></p></h5>
            </div>
            <br>
            <br>
            <div class="text-center">
                <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-info">
                         <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-envelope-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8 2.29288L14 8.29288V12.5C14 13.3284 13.3284 14 12.5 14H3.5C2.67157 14 2 13.3284 2 12.5V8.29288L8 2.29288Z"
                                  fill="green"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13 1.49999V4.99999L11 2.99999V1.49999C11 1.22384 11.2239 0.999986 11.5 0.999986H12.5C12.7761 0.999986 13 1.22384 13 1.49999Z"
                                  fill="green"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.29289 0.499986C7.68342 0.10946 8.31658 0.109462 8.70711 0.499986L15.3536 7.14643C15.5488 7.34169 15.5488 7.65828 15.3536 7.85354C15.1583 8.0488 14.8417 8.0488 14.6464 7.85354L8 1.20709L1.35355 7.85354C1.15829 8.0488 0.841709 8.0488 0.646447 7.85354C0.451184 7.65828 0.451184 7.34169 0.646447 7.14643L7.29289 0.499986Z"
                                  fill="green"/>
                        </svg>
                            <a href="/login" style="text-decoration: none">До творчої майстерні</a>
                         </span>
                        </button>
                    </div>
                </nav>
            </div>
            <br>
            <br>
            <div th:each="videoBoxAdmin, el:${videoBoxAdmin}">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe class="embed-responsive-item "
                            th:src="${videoBoxAdmin.linkToVideo}"></iframe>
                </div>
                <br>
                <h5 class="text-center text-uppercase fw-bold lh-base font-family-sans-serif alert"
                    th:text="${videoBoxAdmin.titleText}"></h5>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
