<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>

    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h2 class="text-center text-success">KITCHEN ROOM</h2>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/kitchen/read-cookbook" class="btn btn-info btn-lg btn-block" role="button">Cook Book</a>
                    <br>
                    <a href="/kitchen/write-prescription" class="btn btn-danger btn-lg btn-block" role="button">To write
                        a
                        prescription</a>
                    <br>
                    <a href="/kitchen/write-menu" class="btn btn-info btn-lg btn-block" role="button">My
                        menu</a>
                    <br>
                    <a href="/kitchen/write-shop-meals" class="btn btn-info btn-lg btn-block" role="button">Shop menu</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" role="button">TO MY HOME</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <form action="/kitchen/write-prescription" method="post" enctype="multipart/form-data">

                        <h2 class="form-signin-heading">WRITE PRESCRIPTION</h2>

                        <div class="custom-file mb-4">
                            <input type="file" name="file" class="custom-file-input"
                                   id="customFile"> <label class="custom-file-label"
                                                           for="customFile">Image</label>
                        </div>

<!--                        <div class="input-group mb-3">-->
<!--                            <label class="input-group-text"  for="inputGroupFile01">Upload</label>-->
<!--                            <input type="file" name="file" class="form-control" id="inputGroupFile01">-->
<!--                        </div>-->
                        <br>
                        <p>
                            <label>TITLE</label>
                            <input type="text" name="titleText" class="form-control"
                                   placeholder="TITLE NAME">
                        </p>
                        <br>
                        <label>PLACE TO PRESCRIPTION</label>
                        <label for="fullText"> tell us you story : </label>
                        <textarea id="fullText" name="fullText" class="form-control" rows="30" cols="20"
                                  placeholder="WRITE A LETTER {character limit up to 3000} "></textarea>

                        <br>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">SAND</button>
                    </form>
                </div>
            </div>
            <br><br>
            <!--    <form action="/user-page" method="post">-->
            <!--        <button class="btn btn-lg btn-info btn-block" type="submit">TO MY HOME</button>-->
            <!--    </form>-->

        </div>
    </div>
</html>
