<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center " style="color: #095979">
            Кухня. Місце для смаколиків, рецептів та кулінарних вподобань.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/kitchen/read-cookbook"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Кулінарна книга</a>
                        <a href="/kitchen/write-prescription"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Записати рецепт</a>
                        <a href="/kitchen/write-menu"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Моє меню</a>
                        <a href="/kitchen/write-shop-meals"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Придбати в магазині</a>
                        <a href="/user-page"
                           class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <div th:each="file:${fileSize}">
                            <h5 class="text-left" th:style="${file>6 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір фото : '+${file} + 'МВ. Допустимий розмір 6МВ'"></h5>
                        </div>
                        <br>
                        <div th:each="titleText:${titleTextSize}">
                            <h5 class="text-left" th:style="${titleText>1000 ? 'color: crimson' : 'color: black'}"
                                th:text="'Кількість символів заголовку : '+${titleText} + '. Допустима кількись символів 1_000'"></h5>
                        </div>
                        <br>
                        <div th:each="fullText:${fullTextSize}">
                            <h5 class="text-left" th:style="${fullText>3000 ? 'color: crimson' : 'color: black'}"
                                th:text="'Кількість символів рецепту : '+${fullText} + '. Допустима кількись символів 3_000'"></h5>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" onclick="window.history.back()">
                            Повернутися назад
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
