<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Кухня. Місце для смаколиків, рецептів та кулінарних вподобань.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/kitchen/read-cookbook"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Кулінарна книга</a>
                    <a href="/kitchen/write-prescription"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Записати рецепт</a>
                    <a href="/kitchen/write-menu"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Моє меню</a>
                    <a href="/kitchen/write-shop-meals"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Придбати в магазині</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th style="width: 10%"><h6></h6></th>
                            <th class="text-center" style="width: 50%"><h6>-- Перелік необхідних продуктів --</h6></th>
                            <th style="width: 20%"><h6></h6></th>
                            <th style="width: 20%"><h6></h6></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shopMeals, iterator:${shopMealsList}" class="mt-2">
                            <td th:text="${iterator.index+1}"></td>
                            <td><span th:text="${shopMeals.fullText}"></span></td>
                            <td>
                                <div class="form-check" size="50px">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    </label>
                                </div>
                            </td>

                            <td><a th:href="'/kitchen/write-shop-meals/'+${shopMeals.id}+'/remove'"
                                   class="btn btn-warning">Видалити</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <h5 class="d-flex justify-content-center " style="color: #095979">
                        Добавити продукт</h5>
                    <br>
                    <form action="/kitchen/write-shop-meal" method="post">
                        <div class="form-floating">
                            <h2>
                                <input type="text" name="fullText" class="form-control"
                                       placeholder="Вписати що потрібно придбати">
                            </h2>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавити до переліку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
