<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h2 class="text-center text-success">KITCHEN ROOM</h2>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/kitchen/read-cookbook" class="btn btn-danger btn-lg btn-block" role="button">Cook Book</a>
                    <br>
                    <a href="/kitchen/write-prescription" class="btn btn-info btn-lg btn-block" role="button">To write a
                        prescription</a>
                    <br>
                    <a href="/kitchen/write-menu" class="btn btn-info btn-lg btn-block" role="button">My
                        menu</a>
                    <br>
                    <a href="/kitchen/write-shop-meals" class="btn btn-info btn-lg btn-block" role="button">Shop
                        menu</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" role="button">TO MY HOME</a>
                    <br>

                </div>
                <div class="col-md-8">

                    <div th:each="cookBook, el:${cookBooks}" class="alert alert-info mt-2">

                        <img th:src="@{${'/image/display/'+ cookBook.id}}"
                             style="width:50%"/>
                        <br>
                        <h6><p th:text="${#dates.format({cookBook.localDate}, 'dd-MM-yyyy')}"/></h6>

                        <h4><p th:text="${cookBook.titleText}"/></h4>
                        <h5><p th:text="${cookBook.fullText}"/></h5>

                        <!--                            <p th:text="${cookBook.address}"/>-->
                        <!--                            <p th:text="${cookBook.name}"/>-->
                        <!--                            <p th:text="${cookBook.type}"/>-->
                        <a th:href="'/kitchen/read-cookbook/'+${cookBook.id}+'/edit'"
                           class="btn btn-warning">EDIT</a>
                        <a th:href="'/kitchen/read-cookbook/'+${cookBook.id}+'/remove'"
                           class="btn btn-warning">REMOVE</a>

                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
