<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Кухня. Місце для смаколиків, рецептів та кулінарних вподобань.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/kitchen/read-cookbook"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Кулінарна книга</a>
                    <a href="/kitchen/write-prescription"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Записати рецепт</a>
                    <a href="/kitchen/write-menu"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Моє меню</a>
                    <a href="/kitchen/write-shop-meals"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Придбати в магазині</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <form action="/kitchen/write-prescription" method="post" enctype="multipart/form-data">
                        <div class="custom-file mb-4">
                            <input type="file" name="file" class="custom-file-input"
                                   id="customFile"> <label class="custom-file-label"
                                                           for="customFile">Завантажити фото</label>
                        </div>
                        <br>
                        <p>
                            <label for="titleText">Назва страви</label>
                            <input id="titleText" type="text" name="titleText" class="form-control"
                                   placeholder="Назва страви">
                        </p>
                        <br>
                        <label for="fullText"> Перелік інгрідієнтів та рецептура </label>
                        <textarea id="fullText" name="fullText" class="form-control" rows="30" cols="20"
                                  placeholder="Записати рецепт {Максимальна кількість символів - 3000}"></textarea>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
