<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h2 class="text-center text-success">KITCHEN ROOM</h2>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/kitchen/read-cookbook" class="btn btn-danger btn-lg btn-block" role="button">Cook Book</a>
                    <br>
                    <a href="/kitchen/write-prescription" class="btn btn-info btn-lg btn-block" role="button">To write a
                        prescription</a>
                    <br>
                    <a href="/kitchen/read-menu" class="btn btn-info btn-lg btn-block" role="button">My
                        menu</a>
                    <br>
                    <a href="/kitchen/write-menu" class="btn btn-info btn-lg btn-block" role="button">Write a
                        menu</a>
                    <br>
                    <a href="/kitchen/write-shop-menu" class="btn btn-info btn-lg btn-block" role="button">Write a
                        shop menu</a>
                    <br>
                    <a href="/kitchen/read-shop-menu" class="btn btn-info btn-lg btn-block" role="button">Read a
                        shop menu</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" role="button">TO MY HOME</a>
                    <br>

                </div>
                <div class="col-md-8">
                    <h2 class="form-signin-heading">EDIT OF PRESCRIPTION</h2>
                    <div th:each="el:${cookBook}">
                        <form method="post" enctype="multipart/form-data">

                            <div th:each="cookBook, el:${cookBooks}" class="alert alert-info mt-2">

                                <img th:src="@{${'/image/display/'+ cookBook.id}}"
                                     style="width:50%"/>
                                <br>
                            </div>

                            <div class="custom-file mb-4">
                                <input type="file" name="file" class="custom-file-input"
                                       id="customFile"> <label class="custom-file-label"
                                                               for="customFile">Image</label>
                            </div>

                            <p>
                                <label>TITLE</label>
                                <input type="text" th:value="${el.titleText}" name="titleText" class="form-control"
                                       placeholder="TITLE NAME">
                            </p>
                            <br>

                            <label>PLACE TO STORY</label>
                            <label for="fullText"> tell us you story : </label>
                            <textarea id="fullText" name="fullText" class="form-control" rows="30" cols="33"
                                      placeholder="WRITE A STORY {character limit up to 3000} "
                                      th:text="${el.fullText}"></textarea> <br>
                            <br>


                            <button class="btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
