<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center" style="color: #095979">
            Кухня. Місце для смаколиків, рецептів та кулінарних вподобань.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/kitchen/read-cookbook"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Кулінарна книга</a>
                        <a href="/kitchen/write-prescription"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Записати рецепт</a>
                        <a href="/kitchen/write-menu"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Моє меню</a>
                        <a href="/kitchen/write-shop-meals"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Придбати в магазині</a>
                        <a href="/user-page"
                           class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th><h6>Дата</h6></th>
                                <th><h6>Дань</h6></th>
                                <th><h6>Сніданок</h6></th>
                                <th><h6>Обід</h6></th>
                                <th><h6>Вечеря</h6></th>
                                <th><h6></h6></th>
                                <th><h6></h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="menu, el:${allMenuByAddress}" class="mt-2">
                                <td><span th:text="${#dates.format({menu.date}, 'dd:MM')}"></span></td>
                                <div th:switch="${#dates.dayOfWeekName({menu.date})}">
                                    <td th:case="'Monday'" class="table-success">Пн</td>
                                    <td th:case="'Tuesday'" class="table-success">Вт</td>
                                    <td th:case="'Wednesday'" class="table-success">Ср</td>
                                    <td th:case="'Thursday'" class="table-success">Чт</td>
                                    <td th:case="'Friday'" class="table-success">Пт</td>
                                    <td th:case="'Saturday'" class="table-success">Сб</td>
                                    <td th:case="'Sunday'" class="table-success">Нд</td>
                                </div>
                                <td><span th:text="${menu.breakfast}"></span></td>
                                <td><span th:text="${menu.dinner}"></span></td>
                                <td><span th:text="${menu.supper}"></span></td>
                                <td><a th:href="'/kitchen/write-menu/'+${menu.id}+'/edit'"
                                       class="btn btn-warning">Ред.</a></td>
                                <td><a th:href="'/kitchen/write-menu/'+${menu.id}+'/remove'"
                                       class="btn btn-warning">Вид.</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <h5 class="text-center" style="color: #095979">Меню на наступний день</h5><br>
                        <form action="/kitchen/write-menu" method="post" enctype="multipart/form-data">
                            <table>
                                <td><input type="date" name="date"></td>
                                <td><h1>
                                    <input type="text" name="breakfast" class="form-control"
                                           placeholder="Сніданок">
                                </h1></td>
                                <td><h1>
                                    <input type="text" name="dinner" class="form-control"
                                           placeholder="Обід">
                                </h1></td>
                                <td><h1>
                                    <input type="text" name="supper" class="form-control"
                                           placeholder="Вечеря">
                                </h1></td>
                            </table>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Зберегти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
