<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center " style="color: #095979">
            Читальня. Пишемо, творимо, публікуємо.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/library/read-all-competitive-composition"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Читати усі історії</a>
                        <a href="/library/read-all-my-composition"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої історії</a>
                        <a href="/library/read-friends-composition"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Історії моїх друзів</a>
                        <a href="/library/wright-composition"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Написати історію</a>
                        <a href="/user-page"
                           class="btn  btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                    </div>
                    <div class="col-md-8">
                        <div th:each="file:${fileSize}">
                            <h5 class="text-left" th:style="${file>6 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір фото : '+${file} + 'МВ. Допустимий розмір 6МВ'"></h5>
                        </div>
                        <br>
                        <div th:each="titleText:${titleTextSize}">
                            <h5 class="text-left" th:style="${titleText>100 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір заголовку : '+${titleText} + '. Допустима кількись символів 100'"></h5>
                        </div>
                        <br>
                        <div th:each="shortText:${shortTextSize}">
                            <h5 class="text-left" th:style="${shortText>500 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір короткого змісту історії : '+${shortText} + '. Допустима кількись символів 500'"></h5>
                        </div>
                        <br>
                        <div th:each="fullText:${fullTextSize}">
                            <h5 class="text-left" th:style="${fullText>10000 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір історії : '+${fullText} + '. Допустима кількись символів 10_000'"></h5>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" onclick="window.history.back()">
                            Повернутися назад
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
