<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Вітальня - місце для наших публікацій та пошуку друзів і рідних.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/library/read-all-competitive-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Читати усі історії</a>
                    <a href="/library/read-all-my-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої історії</a>
                    <a href="/library/read-friends-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Історії моїх друзів</a>
                    <a href="/library/wright-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Написати історію</a>
                    <a href="/user-page"
                       class="btn  btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                </div>
                <div class="col-md-8">
                    <div th:each="compositionDTO, el:${composition}">
                        <form method="post" enctype="multipart/form-data">
                            <img th:src="'data:image/jpeg;base64,' + ${compositionDTO.image}" style="width:50%"
                                 class="rounded mx-auto d-block"
                                 alt="IMAGE OF COMPOSITION"/>
                            <br>
                            <div class="custom-file mb-4">
                                <input type="file" name="file" class="custom-file-input"
                                       id="customFile"> <label class="custom-file-label"
                                                               for="customFile">Завантажити картинку до 2MB</label>
                            </div>
                            <p>
                                <label for="genre">Жанр літератури</label>
                                <select class="form-control" id="genre" name="genre">
                                    <option>FANTASY</option>
                                    <option>NOVEL</option>
                                    <option>TALE</option>
                                    <option>STORIES</option>
                                </select>
                            </p>
                            <label for="titleText"> Заголовок </label>
                            <textarea id="titleText" name="titleText" class="form-control" rows="2"
                                      cols="20"
                                      placeholder="Заголовок історії. Розмір до 150 символів "
                                      th:utext="${compositionDTO.titleText}"></textarea>

                            <label for="shortText"> Короткий зміст </label>
                            <textarea id="shortText" name="shortText" class="form-control" rows="10"
                                      cols="20"
                                      placeholder="Коротко опишіть зміст історії. Розмір до 1_000 символів "
                                      th:utext="${compositionDTO.shortText}"></textarea> <br>

                            <label for="fullText"> Сама історія </label>
                            <textarea id="fullText" name="fullText" class="form-control" rows="20" cols="20"
                                      placeholder="Місце для Вашої історії. Розмір до 20_000 символів"
                                      th:utext="${compositionDTO.fullText}"></textarea>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Обновити та зберегти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
