<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Читальня. Пишемо, творимо, публікуємо.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/library/read-all-competitive-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Читати усі історії</a>
                    <a href="/library/read-all-my-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої історії</a>
                    <a href="/library/read-friends-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Історії моїх друзів</a>
                    <a href="/library/wright-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Написати історію</a>
                    <a href="/user-page"
                       class="btn  btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                </div>
                <div class="col-md-8">
                    <div class="col-md-8">
                        <div th:each="file:${fileSize}">
                            <h5 class="text-left" th:style="${file>2 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір файлу : '+${file} + 'МВ. Допустимий розмір 6МВ'"></h5>
                        </div>
                        <div th:each="titleText:${titleTextSize}">
                            <h5 class="text-left" th:style="${titleText>150 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір заголовку : '+${titleText} + '. Допустима кількись символів 150'"></h5>
                        </div>
                        <div th:each="shortText:${shortTextSize}">
                            <h5 class="text-left" th:style="${shortText>1000 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір короткого змісту історії : '+${shortText} + '. Допустима кількись символів 1_000'"></h5>
                        </div>
                        <div th:each="fullText:${fullTextSize}">
                            <h5 class="text-left" th:style="${fullText>20000 ? 'color: crimson' : 'color: black'}"
                                th:text="'Розмір історії : '+${fullText} + '. Допустима кількись символів 20_000'"></h5>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
