<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Вітальня - місце для наших публікацій та пошуку друзів і рідних.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/living/news/video"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої відео</a>
                    <a href="/living/news/add"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Добавити відео</a>
                    <a href="/living/friends/family"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Пошук друзів</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <h5 class="d-flex justify-content-center " style="color: #095979">
                        Створити посилання на відео</h5>
                    <form action="/living/news/add/video" method="POST" enctype="multipart/form-data">
                        <input type="text" name="linkToVideo" class="form-control"
                               placeholder="Внести посилання">
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зберегти</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
