<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Вітальня - місце для наших публікацій та пошуку друзів і рідних.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/living/news/video"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                       Мої відео</a>
                    <a href="/living/news/add"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Добавити відео</a>
                    <a href="/living/friends/family"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Пошук друзів</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <div th:each="videobox, el:${videoBoxList}" class="mt-2">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    th:src="${videobox.linkToVideo}"></iframe>
                        </div>
                        <a th:href="'/living/news/video/'+${videobox.idVideoBox}+'/remove'"
                           class="btn btn-warning">Видалити</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
