<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Вітальня - місце для наших публікацій та пошуку друзів і рідних.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/living/news/video"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої відео</a>
                    <a href="/living/news/add"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Добавити відео</a>
                    <a href="/living/friends"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Пошук друзів</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <h5 class="d-flex justify-content-center " style="color: #095979">
                        Пошук друзів та рідних</h5>
                    <form action="/living/friends/add" method="get">
                        <table>
                            <div class="custom-file mb-4">
                                <input type="text" name="userNameOrEmail" class="form-control"
                                       placeholder="Пошук друзів по імені або адресі">
                            </div>
                        </table>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Знайти</button>
                    </form>
                    <div th:each="user, el:${all}" class="mt-2">
                        <h5>Наявні користувачі по імені</h5>
                        <h5 th:text="${user.login}"/>
                        <h5>Наявні користувачі по адресі</h5>
                        <h5 th:text="${user.email}"/>
                        <a th:href="'/living/friends/'+${user.idUser}+'/add'"
                           class="btn btn-warning">Долучити до друзів</a>
                    </div>
                    <br>
                    <div th:each="myFriends, el:${myFriendsList}" class="alert alert-info mt-2">
                        <h5 th:text="${myFriends.addressMyFriends}"/>
                        <a th:href="'/living/friends/'+${myFriends.idMyFriends}+'/remove'"
                           class="btn btn-warning">Видалити</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
