<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>

<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
            Вітальня - це місце де можна знайти багато цікавого
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/living/news/video"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої відео </a>
                    <a href="/living/news/site"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої сайти</a>
                    <a href="/living/news/add"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Добавити відео і застосунки</a>
                    <a href="/living/friends"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Друзі</a>
                    <a href="/living/publications"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold disabled" role="button">
                        Публікації</a>
                    <a href="/users/read-all-competitive-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Публікації</a>
                    <a href="/users/read-all-my-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої історії</a>
                    <a href="/users/read-friends-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Історії моїх друзів</a>
                    <a href="/users/wright-composition"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Написати історію</a>
                    <a href="/user-page"
                       class="btn  btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">

                    <div th:each="publicationUser, el:${publications}" class="alert alert-info mt-2">
                        <h5 th:text="${publicationUser.date}"></h5>
                        <h5 th:text="${publicationUser.address}"></h5>
                        <h2 th:text="${publicationUser.titleText}"></h2>
                        <p th:utext="${publicationUser.fullText}"></p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
