<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h2 class="text-center text-success">STUDY ROOM</h2>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/living/fireplace" class="btn btn-info btn-lg btn-block" role="button">Fireplace</a>
                    <br>
                    <a href="/living/video" class="btn btn-info btn-lg btn-block" role="button">YOUTUBE</a>
                    <br>
                    <a href="/living/friends" class="btn btn-info btn-lg btn-block" role="button">Friends</a>
                    <br>
                    <a href="/living/publications" class="btn btn-danger btn-lg btn-block"
                       role="button">Publications</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" role="button">TO MY HOME</a>
                    <br>

                </div>
                <div class="col-md-8">

                    <div th:each="publicationUser, el:${publications}" class="alert alert-info mt-2">
                        <h5 th:text="${publicationUser.localDate}"/>
                        <h5 th:text="${publicationUser.address}"/>
                        <h2 th:text="${publicationUser.titleText}"/>
                        <p th:text="${publicationUser.fullText}"/>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

</html>
