<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
</head>
<div th:insert="blocks/library::library"></div>

<div class="row">
    <div class="album col-md-12 bg-light" style="background-color: bisque">
        <div class="row col-md-12">
            <div class="col-md-2">
                <!--                      null-->
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <img src="img/big_house.jpg" class="img-my-home" alt="my home" width=40%>
                    <br> <br>
                    <a href="/login" class="btn btn-info btn-lg" role="button">My home</a>
                </div>

            </div>

            <!--            <div class="col-md-4">-->
            <!--                <img src="img/big_house.jpg" class="img-friends-home" alt="100" width=100%>-->
            <!--                <a href="/texts" class="btn btn-info btn-lg" role="button">School</a>-->
            <!--            </div>-->
            <!--            <div class="col-md-2">-->
            <!--                    null-->
        </div>
    </div>
</div>
</div>
<br>

<!--<header th:insert="blocks/heder-mine::header-mine"></header>-->
<br>

<!--<img alt="Office L icon" src="META-INF/107716478_1591761084319018_6747217224295558277_n.jpg" style="height: 64px; width: 64px;">-->
<!--<header th:insert="blocks/videoSlider::slider"></header>-->
<footer th:insert="blocks/footer-first::footer-first"></footer>
</html>

<!--<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-binoculars-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--    <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/>-->
<!--</svg>-->