<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAABUDwEA410XALE9DQnCSxIpyFEUQ8hRFEPCSxIpsT0NCeNdFwBUDwEA
AAAAAAAAAAAAAAAAAAAAAAAAAAC6RxIAsUEQCMhSFlLWYh2x4XEm4uZ5K/LmeSvy4XEm4tZiHbHI
UhZSsUEQCLpHEgAAAAAAAAAAAAAAAAC8ShMAtUQREs1XGJPjcyf185Q9//mqT//7tFj/+7RY//mq
T//zlD3/43Mn9c1XGJO1RBESvEoTAAAAAACzRBEApTgNCMhSFpPldSj9+KFH//y7X//9yXD//c94
//3PeP/9yXD//Ltf//ihR//ldSj9yFIWk6U4DQizRBEAxk0UALpGEVPcYx7195Q8//u0WP/8yG7/
/NR///zah//82of//NR///zIbv/7tFj/95Q8/9xjHvW6RhFTxk0UAJIwCwnFTROx7XUn//qdQv/7
tVj/+8du//zUf//82of//NqH//zUf//7x27/+7VY//qdQv/tdSf/xU0TsZIwCwmlOw4pzlIV4fN8
Kv/5mD7/+qtP//q8Yf/7yG//+853//vOd//7yG//+rxh//qrT//5mD7/83wq/85SFeGlOw4ppjwP
Q9FTFfL1eSj/+I02//mbQf/5qE3/+bNY//q5Xf/6uV3/+bNY//moTf/5m0H/+I02//V5KP/RUxXy
pjwPQ6E6DkPMUBTy83Mk//eBLv/4iTP/+JI6//iaQf/4nkT/+J5E//iaQf/4kjr/+Ikz//eBLv/z
cyT/zFAU8qE6DkOVNQ0pv0kS4e1pHv/2eyz/9n8v//aBL//2hDD/9oYx//aGMf/2hDD/9oEv//Z/
L//2eyz/7Wke/79JEuGVNQ0peCkKCas+D7HeYSH/9o9R//eSVP/3kFD/9o9N//aOS//2jkv/9o9N
//eQUP/3k1T/9o9R/95hIf+rPg+xeCkKCaA6DgCVNAtTvk8c9fCVZf/3pHP/96Ry//elc//3pXP/
96Vz//elc//3pHL/96Rz//CVZf++Txz1lTQLU6A6DgCGMAwAdykJCJo3DZPIa0D98qqE//ixif/4
sYj/+LGI//ixiP/4sYj/+LKJ//KqhP/Ia0D9mjcNk3cpCQiGMAwAAAAAAIYvCwB+KgcSlzkRk71o
QvXinn3/8rWV//a6m//2upv/8rWV/+Keff+9aEL1lzkRk34qBxKGLwsAAAAAAAAAAAAAAAAAfSkF
AHQlAwiJLwhSnUQdsbFeOeK9bUryvW1K8rFeOeKdRB2xiS8IUnQlAwh9KQUAAAAAAAAAAAAAAAAA
AAAAAAAAAAApAgAAjykAAGgYAAl5IgAqgCcBQ4AnAUN5IgAqaBgACY8pAAApAgAAAAAAAAAAAAAA
AAAA+B8AAOAHAADAAwAAgAEAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAAgAEAAMAD
AADgBwAA+B8AAA==" rel="icon" type="image/x-icon"/>


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://icons.getbootstrap.com/">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="blocks/heder-mine::header-mine"></div>
<div class="container ">
    <div class="col-md-12">
        <br>

        <div th:each="publicationPostAdmin, el:${publications}" class="alert mt-2">
            <img class="mx-auto d-block" th:src="'data:image/jpeg;base64,' + ${publicationPostAdmin.convert}"
                 style="width:100%" alt="IMG"/>

            <br>
            <!--            <h6><p class="text-right" th:text="${#dates.format({publicationPostAdmin.date}, 'dd:MM:yyyy')}"></p>-->

            <h4><p class="text-center text-uppercase lh-lg fw-bold font-family-sans-serif"
                   th:utext="${publicationPostAdmin.titleText}" style=" font-family: 'Open Sans',sans-serif;"></p></h4>
            <h5><p class=" lh-lg " th:utext="${publicationPostAdmin.fullText}"
                   style=" font-family: 'Open Sans',sans-serif; line-height: 1.5"></p></h5>
        </div>

        <div th:each="composition, el:${compositionWithComments}" class="alert mt-2">
            <a th:href="'/users/read-competitive-one-composition-index/'+${composition.id}">
                <img th:src="'data:image/jpeg;base64,' + ${composition.convert}" style="width:100%"
                     alt="IMAGE OF COMPOSITION"/></a>
            <h6><p class="text-right" th:text="${#dates.format({composition.localDate}, 'dd:MM:yyyy')}"></p></h6>
            <h4><p class="text-center text-uppercase lh-lg fw-bold font-family-sans-serif"
                   th:utext="${composition.titleText}" style=" font-family: 'Open Sans',sans-serif;"></p></h4>
            <h5><p class=" lh-lg " th:utext="${composition.shortText}"
                   style=" font-family: 'Open Sans',sans-serif; line-height: 1.5"></p></h5>
        </div>
        <br>
        <br>
        <div class="text-center">
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-info">
                         <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-envelope-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8 2.29288L14 8.29288V12.5C14 13.3284 13.3284 14 12.5 14H3.5C2.67157 14 2 13.3284 2 12.5V8.29288L8 2.29288Z"
                                  fill="green"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13 1.49999V4.99999L11 2.99999V1.49999C11 1.22384 11.2239 0.999986 11.5 0.999986H12.5C12.7761 0.999986 13 1.22384 13 1.49999Z"
                                  fill="green"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.29289 0.499986C7.68342 0.10946 8.31658 0.109462 8.70711 0.499986L15.3536 7.14643C15.5488 7.34169 15.5488 7.65828 15.3536 7.85354C15.1583 8.0488 14.8417 8.0488 14.6464 7.85354L8 1.20709L1.35355 7.85354C1.15829 8.0488 0.841709 8.0488 0.646447 7.85354C0.451184 7.65828 0.451184 7.34169 0.646447 7.14643L7.29289 0.499986Z"
                                  fill="green"/>
                        </svg>
                            <a href="/login" style="text-decoration: none">До творчої майстерні</a>
                         </span>
                    </button>
                </div>
            </nav>
        </div>
        <br>
        <br>
        <div th:each="videoBoxAdmin, el:${videoBoxAdmin}">
            <div class="embed-responsive embed-responsive-16by9 ">
                <iframe class="embed-responsive-item "
                        th:src="${videoBoxAdmin.linkToVideo}"></iframe>
            </div>
            <br>
            <h5 class="text-center text-uppercase fw-bold lh-base font-family-sans-serif alert"
                th:text="${videoBoxAdmin.titleText}"></h5>
            <br>
        </div>
    </div>
</div>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
