<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>

</head>
<div th:insert="blocks/library::library"></div>
<br>
<br>


<div class="container" style="background: rgba(13,255,167,0.09)">
    <div class="text-center" >
        <div class="row col-md-12">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div th:each="videoBoxAdmin, el:${videoBoxAdmin}">
                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe class="embed-responsive-item "
                                th:src="${videoBoxAdmin.linkToVideo}"></iframe>
                    </div>
                    <h6 th:text="${videoBoxAdmin.titleText}"></h6>
                    <br>
                    <a href="/login" class="btn btn-info btn-lg " role="button left"
                       style="margin-top: 20px"> My home</a>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

</div>
<br>
<br>
</html>
