<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div th:insert="blocks/heder-mine::header-mine"></div>
<div class="container">
    <br>

    <h5 class="text-center text-white alert alert-danger"> Можливі причини помилки: </h5>
    <h5 class="text-center text-white alert alert-danger">1. Дана пошта уже зареєстрована</h5>
    <h5 class="text-center text-white alert alert-danger">2. Ім’я та прізвище введено не латиницею</h5>
    <h5 class="text-center text-white alert alert-danger">3. Довжина паролю меньше 4 символів</h5>
    <br>
    <div class="text-center">
        <a href="/registration" class="btn-on"
           style="margin-top: 20px"> Повернутися на сторінку реєстрації</a>
    </div>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="nav justify-content-center">
                <div class="row col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div th:each="el:${errorIMG}" class="alert mt-2">
                            <img class="mx-auto d-block" th:src="'data:image/jpg;base64,' + ${el}"
                                 style="width:100%" alt="Error content letterToADMIN"/>
                            <br>
                            <h4>Рекомендації з реєстрації:</h4>
                            <ol>
                                <li><b>Поле з електронною скринькою</b><br>
                                    Якщо електронна скринька дана уже існує то варто застосувати іншу або
                                    перевірити існуючу на предмет актуальності та справності.
                                    Заповнення повинно відбуватися латиницею.
                                </li>
                                <li><b>Поле з іменем</b><br>
                                    Поле з іменем рекомендовано заповнювати у вигляді пари з імені та прізвища.
                                    Також допускаються і цифрові позначення.
                                    За ним буде легше Вас відшукати в мережі. Також можливі варіанти із застосуванням
                                    псевдонімів та абревіатур.
                                </li>
                                <li><b>Поле з паролем</b><br>
                                    З метою безпеки прохання застосовувати пароль у вигляді комбінацій цифр та
                                    латинської абетки.
                                    Пароль не потрібно передавати третім особам. Адміністрація ніколи від Вас не
                                    вимагатиме їх пред’являти.
                                    Рекомендований пароль повинен бути від 4 символів.
                                </li>
                                <br>
                                <br>
                                <br>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
