<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>

    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h5 class="text-center alert alert-info">SAFE ROOM</h5>
    <br>
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/safe/read-save-diary" class="btn btn-warning btn-lg btn-block disabled" role="button">Read
                        Diary</a>
                    <br>
                    <a href="/safe/edit-diary" class="btn btn-info btn-lg btn-block" role="button"> Edit a diary</a>
                    <br>
                    <a href="/safe/read-save-edit-reference" class="btn btn-info btn-lg btn-block" role="button">My
                        references</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" role="button">TO MY HOME</a>
                    <br>

                </div>
                <div class="col-md-8">
                    <h2 class="text-center text-success">Write an event</h2><br>
                    <form action="/safe/read-save-diary" method="post" enctype="multipart/form-data">
                        <table>
                            <div class="custom-file mb-4">
                                <input type="file" name="file" class="custom-file-input"
                                       id="customFile"> <label class="custom-file-label"
                                                               for="customFile">Image</label>
                            </div>

                            <h3>
                                <input type="text" name="titleText" class="form-control"
                                       placeholder="Tell us about the event">
                            </h3>
                            <br>

                            <!--                                <input type="text" name="fullText" class="form-control"-->
                            <!--                                       placeholder="Your impressions and emotions">-->

                            <!--                            <label>PLACE TO PRESCRIPTION</label>-->
                            <label for="fullText"> Story time : </label>
                            <textarea id="fullText" name="fullText" class="form-control" rows="10" cols="20"
                                      placeholder="Your impressions and emotions {character limit up to 3000} "></textarea>

                            <br>

                        </table>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">SAVE</button>
                    </form>
                    <br>
                    <div th:each="diary, el:${diaryList}" class="alert alert-info mt-2">
                        <img th:src="@{${'/image/display/diary/'+ diary.id}}"
                             style="width:100%"/>
                        <br>
                        <h4><p th:text="${diary.titleText}"></p></h4>
                        <h5><p th:utext="${diary.fullText}"></p></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
