<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Робоча кімната - місце для наших спогадів та посилань на сервіси, що є важливими для нас.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/safe/read-save-diary"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Читати щоденник</a>
                    <a href="/safe/edit-diary"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Редагувати щоденник</a>
                    <a href="/safe/read-save-edit-reference"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої сервіси</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <form action="/safe/read-save-diary" method="post" enctype="multipart/form-data">
                        <table>
                            <div class="custom-file mb-4">
                                <input type="file" name="file" class="custom-file-input"
                                       id="customFile"> <label class="custom-file-label"
                                                               for="customFile">Заватнажити фото</label>
                            </div>
                            <h3>
                                <input type="text" name="titleText" class="form-control"
                                       placeholder="Місце для загловку">
                            </h3>
                            <br>
                            <label for="fullText"> Зберегти та занотувати : </label>
                            <textarea id="fullText" name="fullText" class="form-control" rows="10" cols="20"
                                      placeholder="Ваші враження та емоції {максимальна кількість символів - 3000} "></textarea>

                            <br>

                        </table>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зберегти</button>
                    </form>
                    <br>
                    <div th:each="diaryDTO, el:${diaryList}" class="mt-2">
                        <img th:src="'data:image/jpeg;base64,' + ${diaryDTO.image}"
                             style="width:50%"
                             class="rounded mx-auto d-block"
                             alt="IMAGE OF COMPOSITION"/>
                        <br>
                        <h4><p th:text="${diaryDTO.titleText}"></p></h4>
                        <h5><p th:utext="${diaryDTO.fullText}"></p></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
