<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center " style="color: #095979">
            Робоча кімната - місце для наших спогадів та посилань на сервіси, що є важливими для нас.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/safe/read-save-diary"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Читати щоденник</a>
                        <a href="/safe/edit-diary"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Редагувати щоденник</a>
                        <a href="/safe/read-save-edit-reference"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої сервіси</a>
                        <a href="/user-page"
                           class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <div th:each="diaryDTO, el:${diaryList}" class="mt-2">
                            <img th:src="'data:image/jpeg;base64,' + ${diaryDTO.image}"
                                 style="width:100%"
                                 class="rounded mx-auto d-block"
                                 alt="IMAGE"/>
                            <br>
                            <h4><p th:ytext="${diaryDTO.titleText}"></p></h4>
                            <!--                        <h6><p th:text="${#dates.format({diary.localDate}, 'dd-MM-yyyy')}"/></h6>-->
                            <h5><p th:utext="${diaryDTO.fullText}"></p></h5>
                            <a th:href="'/safe/edit-diary/'+${diaryDTO.id}+'/edit'"
                               class="btn btn-warning"> Редагувати</a>
                            <a th:href="'/safe/edit-diary/'+${diaryDTO.id}+'/remove'"
                               class="btn btn-warning">Видалити</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
