<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center " style="color: #095979">
            Моя кімната. Пишемо, спілкуємось та публікуємо.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/study/enter-letters"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої листи</a>
                        <a href="/study/write-letter"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Написати листа</a>
                        <a href="/study/read-all-publications"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Усі публікації</a>
                        <a href="/study/read-my-publications"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої публікації</a>
                        <a href="/study/write-publication"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Написати публікацію</a>
                        <a href="/user-page"
                           class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <div th:each="letterToUSER, el:${editUserLetter}">
                            <form action="/study/write-letter/send" method="post">
                                <div class="alert alert-danger" th:if="${error.one == '1'}">Помилкова адреса отримувача</div>
                                <p>
                                    <label for="recipientAddress">Отримувач</label>
                                    <input id="recipientAddress" type="text"
                                           th:value="${letterToUSER.recipientAddress}"
                                           name="recipientAddress"
                                           class="form-control"
                                           placeholder="Місце для адреси отримувача" required>
                                </p>

                                <label>Відправник</label>
                                <div>
                                    <h6 class="text-left" th:text="${letterToUSER.senderAddress}"></h6>
                                </div>
                                <br>
                                <div class="alert alert-danger" th:if="${error.two == '2'}">Перевищення довжини заголовку в 100 символів</div>
                                <p>
                                    <label for="titleText"> Заголовок : </label>
                                    <input id="titleText" type="text"
                                           th:value="${letterToUSER.titleText}" name="titleText" class="form-control"
                                           placeholder="Місце для загловку" required>
                                </p>
                                <br>
                                <div class="alert alert-danger" th:if="${error.tree == '3'}"> Перевищення довжини листа в 3 000 символів</div>
                                <label for="fullText">Лист : </label>
                                <textarea id="fullText" name="fullText" class="form-control" rows="30" cols="33"
                                          placeholder="Місце для основного тексту листа {максимальна кількість символів - 3000}"
                                          th:text="${letterToUSER.fullText}" required></textarea> <br>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Відправити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
