<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
<!--    <link rel="stylesheet" href="css/mine.css">-->

</head>
<div th:insert="blocks/library::library"></div>

<div class="container"><br>
    <h5 class="text-center alert alert-info">STUDY ROOM</h5>
    <br>


    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/study/read-letters" class="btn btn-info btn-lg btn-block" >My letters</a>
                    <br>
                    <a href="/study/write-letter" class="btn btn-info btn-lg btn-block" >To write a
                        letter</a>
                    <br>
                    <a href="/study/read-publications" class="btn btn-warning btn-lg btn-block disabled" >My
                        publications</a>
                    <br>
                    <a href="/study/write-publication" class="btn btn-info btn-lg btn-block" >Write a
                        publication</a>
                    <br>
                    <a href="/user-page" class="btn btn-info btn-lg btn-block" >TO MY HOME</a>
                    <br>

                </div>
                <div class="col-md-8">

                    <div th:each="publicationUser, el:${publicationUser}" class="alert alert-info mt-2">

                        <h4 th:text="${publicationUser.titleText}" class=" text-center"/>
                        <p th:text="${publicationUser.fullText}" class="text-justify text-muted"></p>
<!--                        <h6 th:text="${el.date}" class="text-right"/>-->
                        <h6><p class="text-right" th:text="${#dates.format({publicationUser.date}, 'dd:MM:yyyy')}"/></h6>
                        <br>
                        <div class="text-right">
                            <a th:href="'/study/publication/'+${publicationUser.idPublication}+'/edit'"
                               class="btn btn-warning">Edit</a>
                            <a th:href="'/study/publication/'+${publicationUser.idPublication}+'/remove'"
                               class="btn btn-warning">Delete</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br><br>
        <!--    <form action="/user-page" method="post">-->
        <!--        <button class="btn btn-lg btn-info btn-block" type="submit">TO MY HOME</button>-->
        <!--    </form>-->

    </div>
</div>
</html>
