<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>

<body>
<div class="container"><br>
    <h5 class="d-flex justify-content-center " style="color: #095979">
        Моя кімната. Пишемо, спілкуємось та публікуємо.
    </h5>
    <br>
    <div class="row">
        <div class="album col-md-12">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/study/read-letters"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої листи</a>
                    <a href="/study/write-letter"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Написати листа</a>
                    <a href="/study/read-all-publications"
                       class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                        Усі публікації</a>
                    <a href="/study/read-my-publications"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Мої публікації</a>
                    <a href="/study/write-publication"
                       class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                        Написати публікацію</a>
                    <a href="/user-page"
                       class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                        До головної</a>
                    <br>
                </div>
                <div class="col-md-8">
                    <div th:each="publicationUser, el:${publications}" class="mt-2">
                        <h5 th:text="${publicationUser.date}"></h5>
                        <h5 th:text="${publicationUser.address}"></h5>
                        <h2 th:text="${publicationUser.titleText}"></h2>
                        <p th:utext="${publicationUser.fullText}"></p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
