<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      style="height: 100%">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body style="height: 100%">
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column">
    <div class="container" style="padding:30px; flex: 1 1 auto">
        <h5 class="d-flex justify-content-center " style="color: #095979">
            Моя кімната. Пишемо, спілкуємось та публікуємо.
        </h5>
        <br>
        <div class="row">
            <div class="album col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <a href="/study/enter-letters"
                           class="btn btn-warning btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої листи</a>
                        <a href="/study/write-letter"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Написати листа</a>
                        <a href="/study/read-all-publications"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Усі публікації</a>
                        <a href="/study/read-my-publications"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Мої публікації</a>
                        <a href="/study/write-publication"
                           class="btn btn-info btn-lg btn-block text-left font-weight-bold" role="button">
                            Написати публікацію</a>
                        <a href="/user-page"
                           class="btn btn-secondary btn-lg btn-block text-left font-weight-bold" role="button">
                            До головної</a>
                        <br>
                    </div>

                    <div class="col-md-8">
                        <ul class="nav justify-content-center bg-info">
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link text-dark font-weight-bold"
                                       href="/study/outer-letters">
                                        Вихідні листи</a>
                                </h5>
                            </li>
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link text-white disabled  font-weight-bold"
                                       href="/study/enter-letters">
                                        Вхідні листи</a>
                                </h5>
                            </li>
                        </ul>
                        <br>
                        <div th:each="el:${letters}" class="alert alert-info">
                            <h5 class="text-center font-weight-bold" th:text="${el.titleText}"></h5>
                            <h5 th:utext="${el.fullText}"></h5>
                            <h6 class="text-right" th:text="${el.info}"></h6>
                            <a th:href="'/study/enter-letters/'+${el.id}+'/remove'"
                               class="btn btn-outline-warning btn-block font-weight-bold">Видалити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer th:insert="blocks/footer-first::footer-first"></footer>
    </div>
</div>
</body>
</html>
