<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<body>
<div th:insert="blocks/heder-mine::header-mine"></div>
<div class="container ">
    <div class="col-md-12">
        <br>
        <form action="/users/send-letter" method="post">
            <table>
                <h3 class="text-center">Лист до компанії</h3>
                <br>
                <label for="userPost">Пошта </label>
                <textarea id="userPost" name="userPost" class="form-control" rows="2" cols="20"
                          placeholder="Вкажіть електронну пошту по якій компанія зможе з Вами зв'язатися. Розмір до 100 символів"></textarea>
                <br>
                <label for="titleText">Тема листа </label>
                <textarea id="titleText" name="titleText" class="form-control" rows="10" cols="20"
                          placeholder="Коротко опишіть зміст листа. Розмір до 100 символів "></textarea>
                <br>
                <label for="fullText">Текст листа </label>
                <textarea id="fullText" name="fullText" class="form-control" rows="20" cols="20"
                          placeholder="Місце для тексту Вашого листа. Розмір до 20_000 символів "></textarea>
                <br>
            </table>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Надіслати</button>
        </form>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<div>
    <footer th:insert="blocks/footer-first::footer-first"></footer>
</div>
</body>
</html>
