<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head th:insert="blocks/library::library">
    <title th:text="${title}"></title>
</head>
<div th:fragment="footer-first">
    <footer>
        <section>
            <section class="jumbotron " style="background-color: rgba(255,222,20,0.87)">
                <div class="container ">
                    <div class="row justify-content-center">

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card border-success h-100">
                                    <div class="card-header">Традиції</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Кожен є частиною великої культури</h5>
                                        <p class="card-text">Бережіть їх</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-success h-100">
                                    <div class="card-header">Емоції</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Вони наповнюють нас добром, підбадьорюють і надихають</h5>
                                        <p class="card-text">Поширюйте їх</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-success h-100">
                                    <div class="card-header">Автобіографія</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Унікальна історія на все життя</h5>
                                        <p class="card-text">Вона неймовірна</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-info">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-envelope-plus" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                                <a href="/users/write/letter" style="text-decoration: none">Написати в компанію листа</a>
                            </span>
                        </button>
                    </div>
                </nav>
                <div class="font-weight-lighter text-right text-info">
                    <h5>Версія 5.23</h5>
                </div>
            </section>
        </section>
    </footer>
</div>
</html>