<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<head>
    <title>no</title>
</head>
<div th:insert="blocks/library::library"></div>
<div th:fragment="footer-first">
    <footer>
        <div class="card text-center">
            <section class="jumbotron " style="background-color: rgba(196,246,255,0.34)">
                <a href="/" class="site-logo-link center-container" rel="home" itemprop="url"><img
                        src="img/logo3make.png"
                        height=200px
                        alt=""> </a>
                <p class="text-center">
                <h5>One house in the whole world and the whole planet in one house. </h5>
                <h4>
                    <div class="text-primary">
                        MAIL "Wen de Hor.house"<br>
                    </div>
                    <!--                    <div>-->
                    <!--                        <a class="text-primary"-->
                    <!--                           href="https://www.facebook.com/profile.php?id=100014265334672">facebook</a>-->
                    <!--                    </div>-->
                    <br>
                    <br>
                    <div class="font-weight-lighter text-right text-info">
                        <h5>fireplace in the middle of the living room*</h5>
                    </div>
                    <br>
                </h4>
            </section>
        </div>
    </footer>
</div>
</html>