<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">

<div th:fragment="header-mine">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center"
         style="background-color: rgba(90,148,255,0.95)">
        <h2 class="nav-item"><a class="nav-link" href="/"><h5 style="color:#ffff00">На головну</h5></a>
        </h2>
        <h2 class="nav-item"><a class="nav-link" href="/login"><h5 style="color:#ffff00">До творчої майстерні</h5>
        </a></h2>
        <h2 class="nav-item"><a class="nav-link" href="/registration"><h5 style="color:#ffff00"> Реєстрація</h5></a>
        </h2>
    </nav>
</div>
</html>