<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head th:fragment="library">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAABUDwEA410XALE9DQnCSxIpyFEUQ8hRFEPCSxIpsT0NCeNdFwBUDwEA
AAAAAAAAAAAAAAAAAAAAAAAAAAC6RxIAsUEQCMhSFlLWYh2x4XEm4uZ5K/LmeSvy4XEm4tZiHbHI
UhZSsUEQCLpHEgAAAAAAAAAAAAAAAAC8ShMAtUQREs1XGJPjcyf185Q9//mqT//7tFj/+7RY//mq
T//zlD3/43Mn9c1XGJO1RBESvEoTAAAAAACzRBEApTgNCMhSFpPldSj9+KFH//y7X//9yXD//c94
//3PeP/9yXD//Ltf//ihR//ldSj9yFIWk6U4DQizRBEAxk0UALpGEVPcYx7195Q8//u0WP/8yG7/
/NR///zah//82of//NR///zIbv/7tFj/95Q8/9xjHvW6RhFTxk0UAJIwCwnFTROx7XUn//qdQv/7
tVj/+8du//zUf//82of//NqH//zUf//7x27/+7VY//qdQv/tdSf/xU0TsZIwCwmlOw4pzlIV4fN8
Kv/5mD7/+qtP//q8Yf/7yG//+853//vOd//7yG//+rxh//qrT//5mD7/83wq/85SFeGlOw4ppjwP
Q9FTFfL1eSj/+I02//mbQf/5qE3/+bNY//q5Xf/6uV3/+bNY//moTf/5m0H/+I02//V5KP/RUxXy
pjwPQ6E6DkPMUBTy83Mk//eBLv/4iTP/+JI6//iaQf/4nkT/+J5E//iaQf/4kjr/+Ikz//eBLv/z
cyT/zFAU8qE6DkOVNQ0pv0kS4e1pHv/2eyz/9n8v//aBL//2hDD/9oYx//aGMf/2hDD/9oEv//Z/
L//2eyz/7Wke/79JEuGVNQ0peCkKCas+D7HeYSH/9o9R//eSVP/3kFD/9o9N//aOS//2jkv/9o9N
//eQUP/3k1T/9o9R/95hIf+rPg+xeCkKCaA6DgCVNAtTvk8c9fCVZf/3pHP/96Ry//elc//3pXP/
96Vz//elc//3pHL/96Rz//CVZf++Txz1lTQLU6A6DgCGMAwAdykJCJo3DZPIa0D98qqE//ixif/4
sYj/+LGI//ixiP/4sYj/+LKJ//KqhP/Ia0D9mjcNk3cpCQiGMAwAAAAAAIYvCwB+KgcSlzkRk71o
QvXinn3/8rWV//a6m//2upv/8rWV/+Keff+9aEL1lzkRk34qBxKGLwsAAAAAAAAAAAAAAAAAfSkF
AHQlAwiJLwhSnUQdsbFeOeK9bUryvW1K8rFeOeKdRB2xiS8IUnQlAwh9KQUAAAAAAAAAAAAAAAAA
AAAAAAAAAAApAgAAjykAAGgYAAl5IgAqgCcBQ4AnAUN5IgAqaBgACY8pAAApAgAAAAAAAAAAAAAA
AAAA+B8AAOAHAADAAwAAgAEAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAAgAEAAMAD
AADgBwAA+B8AAA==" rel="icon" type="image/x-icon"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
</html>